<h3>Add Comment</h3>

<%= form_with url: user_post_comments_path(post.author, post), method: :post, local: true, scope: :comment do |f| %>
  <div>
    <%= f.text_field :text, { placeholder: 'Add your comment', required: true } %>
    <%= f.submit 'Comment' %>
  </div>
<% end %>