<%= render(template: 'layouts/user_of_post', locals: {author: @author}) %>
<% @posts.each do |post| %>
  <div><%= render(template: 'layouts/post_of_user', locals: {post: post}) %></div>
  <ul>
    <%= render 'details/comment', post: post %>
  </ul>
<% end %>



<button type="button" class="pagination">Pagination</button>